.sock {
display: inline-block;
  width: 33%;
  height: auto;
  margin-bottom: 50px;
}

.sock-image {
  width: 200px;
}

.sock-info {
  font-size: 1.8rem;
  margin-bottom: 8px;
}

.order-btn {
  background-color: white;
  border: 1px solid #039BE5;
  border-radius: 3px;
  color: #039BE5;
  font-size: 1rem;
}
